<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Se solicita a todos los miembros del COED de Cochabamba aproximarse a las instalaciones <%= @location.title%></h1>
</br>
<h3> en caso que no pueda llegar a las instalaciones avisar a su encargado y dirigirse a la direccion <%= @location.address %></h3>

  </body>
</html>